[submodule "dependencies/pal"]
	path = dependencies/pal
	url = https://github.com/nosial/pal
[submodule "dependencies/LogLib2"]
	path = dependencies/LogLib2
	url = https://github.com/nosial/LogLib2
[submodule "dependencies/PHP-Parser"]
	path = dependencies/PHP-Parser
	url = https://github.com/nikic/PHP-Parser.git
[submodule "dependencies/deprecation-contracts"]
	path = dependencies/deprecation-contracts
	url = https://github.com/symfony/deprecation-contracts
[submodule "dependencies/polyfill-ctype"]
	path = dependencies/polyfill-ctype
	url = https://github.com/symfony/polyfill-ctype
[submodule "dependencies/yaml"]
	path = dependencies/yaml
	url = https://github.com/symfony/yaml
[submodule "dependencies/optslib"]
	path = dependencies/optslib
	url = https://github.com/nosial/optslib
[submodule "dependencies/Process"]
	path = dependencies/Process
	url = https://github.com/symfony/process
[submodule "dependencies/semver"]
	path = dependencies/semver
	url = https://github.com/composer/semver.git
