# vscode
.vscode/dryrun.log
.vscode/configurationCache.log
.vscode/targets.log
.vscode/launch.json

# build
build

# Autoload files
src/ncc/ThirdParty/composer/Semver/autoload_spl.php
src/ncc/ThirdParty/defuse/Crypto/autoload_spl.php
src/ncc/ThirdParty/jelix/version/autoload_spl.php
src/ncc/ThirdParty/nikic/PhpParser/autoload_spl.php
src/ncc/ThirdParty/php_parallel_lint/php_console_color/autoload_spl.php
src/ncc/ThirdParty/Symfony/polyfill_ctype/autoload_spl.php
src/ncc/ThirdParty/Symfony/polyfill_mbstring/autoload_spl.php
src/ncc/ThirdParty/Symfony/polyfill_uuid/autoload_spl.php
src/ncc/ThirdParty/Symfony/Process/autoload_spl.php
src/ncc/ThirdParty/Symfony/Uid/autoload_spl.php
src/ncc/ThirdParty/Symfony/Filesystem/autoload_spl.php
src/ncc/ThirdParty/Symfony/Yaml/autoload_spl.php
src/ncc/ThirdParty/theseer/Autoload/autoload_spl.php
src/ncc/ThirdParty/theseer/DirectoryScanner/autoload_spl.php
src/ncc/autoload_spl.php
src/ncc/autoload.php

# Test files
tests/example_project/project.json
tests/example_project/ncc
tests/example_project/build
/.phpunit.result.cache
/.idea/php-test-framework.xml
/.idea/gbrowser_project.xml

# Submodules, do not commit any of our patches.
/src/ncc/ThirdParty/composer/Semver/
/src/ncc/ThirdParty/defuse/Crypto/
/src/ncc/ThirdParty/jelix/version
/src/ncc/ThirdParty/Symfony/Filesystem
/src/ncc/ThirdParty/Symfony/polyfill_ctype
/src/ncc/ThirdParty/Symfony/polyfill_mbstring
/src/ncc/ThirdParty/Symfony/polyfill_uuid
/src/ncc/ThirdParty/Symfony/Process
/src/ncc/ThirdParty/Symfony/Uid
/src/ncc/ThirdParty/Symfony/Yaml
/src/ncc/ThirdParty/theseer/DirectoryScanner
