.vscode/dryrun.log
.vscode/configurationCache.log
.vscode/targets.log
.vscode/launch.json
build

# Autoload files
src/ncc/ThirdParty/defuse/php-encryption/autoload_spl.php
src/ncc/ThirdParty/Symfony/polyfill-ctype/autoload_spl.php
src/ncc/ThirdParty/Symfony/polyfill-mbstring/autoload_spl.php
src/ncc/ThirdParty/Symfony/Process/autoload_spl.php
src/ncc/ThirdParty/Symfony/Uid/autoload_spl.php
src/ncc/ThirdParty/Symfony/Filesystem/autoload_spl.php
src/ncc/ThirdParty/Symfony/Yaml/autoload_spl.php
src/ncc/ThirdParty/theseer/Autoload/autoload_spl.php
src/ncc/autoload_spl.php
src/ncc/autoload.php