[Desktop Entry]
Version=1.0
Name=ncc
GenericName=Nosial Code Compiler
Comment=Nosial Code Compiler
Exec=/usr/bin/ncc
TryExec=/usr/bin/ncc
Icon=/usr/share/icons/ncc.png
Terminal=true
Type=Application
Categories=Development;
Keywords=compiler;code